In [ ]:
#Functions 

#Inbuilt function https://www.w3schools.com/python/python_ref_functions.asp
#important inbuilt functions ==> common functionality available already inside 

#User def function ==> wrting a function for our specific purpose

#function call
#function definition
#arguement/parameter

#return 
#recursive functions
#Rules for writing user functions

In [ ]:
#Function ?

#1000 lines : 20 times same 5 lines

#wasting 100 lines 

#5 lines ==> single function 

#call ==> n number of times

In [17]:
#User defined function

a = 10
b = 20
c = a + b
print("The addition of two values are ",c)

g = 50
h = 100
i = g + h
print("The addition of two values are ",i)

x = 1000
y = 125
z = x + y
print("The addition of two values are ",z)

The addition of two values are  30
The addition of two values are  150
The addition of two values are  1125

In [18]:
#User def function ===> both function def and function call
#inbuilt function ==> function call

def sum_ops(val1,val2):
  return "The addition of two values are "+ str(val1+val2)
print(sum_ops(10,20))
print(sum_ops(50,100))
print(sum_ops(1000,125))

The addition of two values are 30
The addition of two values are 150
The addition of two values are 1125

In [ ]:
#Inbuilt functions

print ==> print
type ==> 
len 
sum
format
str
del
input 
int 
float
bool
min
max
map/filter
tuple
range
list
dict
set 
ord
chr
zip
abs
any
all
bin
oct
hex
divmod 
pow
id

In [22]:
#ord

a = "z"
print(ord(a))

#chr

b = 100
print(chr(b))
#zip

Li1 = [1,2,3,4,5]
Li4 = ["pi", "ci", "di", "vi"]

print(dict(zip(Li1, Li4)))

122
d
{1: 'pi', 2: 'ci', 3: 'di', 4: 'vi'}

In [23]:
a = -9.5
print(abs(a))

9.5

In [25]:
#any ===> OR gate
#AND ===> all

print(any([10 < 20, len("python") == True, 1 > 5]))

True

In [27]:
print(all([True, True, True, False]))
print(all([True, True, True, True]))

False
True

In [29]:
a = 100
print(bin(a))
print(oct(a))
print(hex(a))

0b1100100
0o144
0x64

In [33]:
#User def function and terms

def sum_values(val1, val2, val3): #function definition (process of the function)
  output = (val1 + val2 ) * (val1 - val2)
  return output #last line of the function to be executed

print(sum_values(10,20,30))
print(sum_values(5,3,1))
print(sum_values(100,20,5))

-300
16
9600

In [41]:
#default para,eters /optional parameter

def sum_values1(val1, val2, val3=1000): #function definition (process of the function)
  output = val1 + val2 + val3
  return output #last line of the function to be executed

print(sum_values1(10,20,30))
print(sum_values1(10,20))

60
1030

In [ ]:
#recursive

In [49]:
def str_func(str1, str2):
  return list([str1[0] + str2[-1], str1[-1] + str2[0]])

print(type(str_func("python", "java")))

print(str_func("python", "java"))

<class 'list'>
['pa', 'nj']

In [ ]:
Get list of strings from user (collect number of elements)
separate it in to two lists with vowles and non vowels 

["hi","ggg","hello","ravi","bbbb","zzz","yyyy"]

No of elements with vowel: 4
No of elements without vowel: 3

In [8]:
#collect list of strings from user

n = int(input("please enter number of list elements: "))
Li = []

for i in range(n):
  temp = input("please enter a string: ")
  Li.append(temp)
print(Li)

with_vowel = 0
without_vowel = 0

for i in Li:
  if any(["a" in i, "e" in i , "i" in i, "o" in i , "u" in i]):
  if "a" in i or "e" in i or "i" in i or "o" in i or "u" in i:
    with_vowel = with_vowel + 1
  else:
    without_vowel = without_vowel + 1

print("No elements with vowels are ",with_vowel)
print("No elements without vowels are ",without_vowel)

please enter number of list elements: 10
please enter a string: aaa
please enter a string: bbbb
please enter a string: cccc
please enter a string: dddd
please enter a string: eeeee
please enter a string: iiii
please enter a string: python
please enter a string: java
please enter a string: go
please enter a string: zzzz
['aaa', 'bbbb', 'cccc', 'dddd', 'eeeee', 'iiii', 'python', 'java', 'go', 'zzzz']
No elements with vowels are  6
No elements without vowels are  4

python
vowel available
gggg
aaa
vowel available
wwww
hhhh

In [5]:
print("a" in "java")

True

In [ ]:
Multiples of 8 between 120 to 20 using while loop

In [12]:
a = 120

while a > 20:
  a = a - 1
  if a % 8 == 0:
    print(a)

112
104
96
88
80
72
64
56
48
40
32
24

In [ ]:
Get list of strings from user
separate it two list (with same first letter and last letter and othr)

["garg", "kohli", "rohitr", "ishan", "dhoni","dad"]

No of elements with same first letter and last letter: 3
Other List: 3

In [14]:
n = int(input("please enter number of list elements: "))
Li = []

for i in range(n):
  temp = input("please enter a string: ")
  Li.append(temp)
print(Li)

please enter number of list elements: 5
please enter a string: abba
please enter a string: cccc
please enter a string: dddd
please enter a string: abcd
please enter a string: bcgd
['abba', 'cccc', 'dddd', 'abcd', 'bcgd']

In [16]:
with_same_first_last = []
with_diff_first_last = []

for i in Li:
  if i[0] == i[-1]:
    with_same_first_last.append(i)
  else:
    with_diff_first_last.append(i)

print("Expected same first last {} and its count {}".format(with_same_first_last, len(with_same_first_last)) )
print("Others  diff first last {} and its count {}".format(with_diff_first_last, len(with_diff_first_last)) )

Expected same first last ['abba', 'cccc', 'dddd'] and its count 3
Others  diff first last ['abcd', 'bcgd'] and its count 2

In [ ]:
getting list from user

In [ ]:
collect one dictionary from user

#number of elemetns

#key and value for number of elements

In [ ]:
Program to check a number is prime or no

#prime number ===> divisble only by 1 and itself 
#2 is the first prime number

#9 ==> 1,3,9
#5 ==> 1,5
#23 ==> 1,23
#25  ==> 1,5,25

In [ ]:
anagram

#two strings
#pot and pto are anagrams

#pot and pta are not anagrams

#lengths are equal
#set()