In [ ]:
#Loops ?

#Range function

#for with range
#for with data structure (list, tuple, set, dict)

#while with condition
#while with true
#while with variable

#break continue pass with for/while

#For else
#while else

In [ ]:
#Loops

#execute part of the code for multiple time

In [1]:
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello

In [4]:
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [6]:
#Range ===> inbuilt function

Li1 = [0,1,2,3,4,5,6,7,8,9]

#Range

Li2 = list(range(100))

print(Li2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [9]:
print(list(range(100)))
print(list(range(10,20)))
print(list(range(100,2000, 50)))

print(list(range(100,50,-1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000, 1050, 1100, 1150, 1200, 1250, 1300, 1350, 1400, 1450, 1500, 1550, 1600, 1650, 1700, 1750, 1800, 1850, 1900, 1950]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51]

In [ ]:
range(start value (include), end value (exclude value),interval(optional) )

In [ ]:
#Syntax for for loop

for <temp_variable> in <collection of values>:
    print(temp_variable)

In [11]:
for i in range(10,25):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [12]:
print(list(range(10,25)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [13]:
#iterate a list


Li1 = ["python", "go", "java", "hello"]

for i in Li1:
    print(i)

python
go
java
hello

In [14]:
#iterate a tuple


Li1 = ("python", "go", "java", "hello")

for i in Li1:
    print(i)

python
go
java
hello

In [17]:
#iterate a set

Li1 = {-4,-3,3,4,5,0,10}

for i in Li1:
    print(i)

0
3
4
5
10
-4
-3

In [20]:
#iterate a dictionary

dict1 = {1:"class1", 2:"class2", 3:"class3", 4:400}

#type1
for val in dict1:
    print(val)

1
2
3
4

In [21]:
dict1 = {1:"class1", 2:"class2", 3:"class3", 4:400}

#type2
for i in dict1.values():
    print(i)

class1
class2
class3
400

In [22]:
dict1 = {1:"class1", 2:"class2", 3:"class3", 4:400}

#type3
for i in dict1.keys():
    print(i)

1
2
3
4

In [24]:
dict1 = {1:"class1", 2:"class2", 3:"class3", 4:400}

#type4
for i in dict1.items():
    print(i)
    print(i[0])
    print(i[1])

(1, 'class1')
1
class1
(2, 'class2')
2
class2
(3, 'class3')
3
class3
(4, 400)
4
400